header{
     background-color: royalblue;
     padding: 20px;
}

.container-80{
     width: 80%;
     margin-left: auto;
     margin-right: auto;
}

.h-400{
     height: 400px;
}

.flex{
     display: flex;
}

a{
     text-decoration: none;
}

nav section{
     border: 1px solid black;
     padding: 20px 5px;
     justify-content: space-between;
     align-items: center;
}

nav section ul li{
     display: inline-block;
     list-style-type: none;
     margin: 0 auto;
}

.intro{
     border: 1px solid black;
     background-color: royalblue;
     margin-top: 20px;
}

main section{
     padding: 20px 0;
}


.foto{
     border: 1px solid black;
     flex-basis: 70%;
}    

.testo{
     border: 1px solid black;
     flex-basis: 30%;
}

.sezionegrigia{
     background-color: lightgray;
}

#sezionegrigia2{
     background-color: lightgray;
     height: 600px;
}

.sez-grande{
     border: 1px solid black;
     flex-basis: 100%;
     height: 550px;
}

footer{
     background-color: #282828;
     padding: 20px 0;
}

.row1{
     border: 1px solid white;
     flex-basis: 40%;
}

.row2{
     border: 1px solid white;
     flex-basis: calc(60% / 4);
}

hr{
     margin: 20px 0;
}

#footer-social{
     color: white;
     border: 1px solid white;
     justify-content: space-between;
}